/* Default Styling */
* {
    vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1rem;
}

body {
    line-height: 1.6em;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Raleway", "Open Sans", sans-serif;
    padding: 2rem;
}   

/* Setup for Mobile */

#pointCount {
    width: 100%;
}

#myCanvas {
    max-width: 300px;
    width: 90vw;
}

.menu {
    max-width: 85vw;
}

#title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: .75em;
    margin-top: .5em;
}


#lowRange {
    border-right: 1px dotted #333;
}

button {
    padding: .5em;
    border-radius: .1em;
    margin-bottom: 1em;
    font-family: "Raleway", "Open Sans", sans-serif;
    font-weight: 500;
    background-color: #eee;
    transition:cubic-bezier(0.23, 1, 0.320, 1) 200ms all;
}

button:hover, button:focus {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
}

.buttons, #amountForm {
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

label[for="pointCount"] {
    font-weight: 500;
    width: 15em;
    margin-right: 1em;
}


#amountOfPoints {
    margin-top: 1em;
    font-weight: 600;
    margin-bottom: .25em;
    font-size: 1.15rem;
}

#description-short {
    font-style: italic;
    margin-bottom: 1em;
}

#code-label, #description-label {
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: .25em;
}

#description-long {
    text-align: justify;
    margin-top: 2em;

}

#description-label {
    margin: 1em 0 0 0;
}

@media screen  and (min-width: 1000px) {
    #myCanvas {
        max-width: 400px;
    }

    #title {
        margin-top: 0em;
    }

    #description-long {
        max-width: 1000px;
    }


}